In [40]:
import pandas as pd

df = pd.read_csv('twitterbot.csv')
df = df[['Bio', 'Post', 'Joined']]

In [41]:
import pandas as pd

data = pd.read_csv("Ethereum_tweets.csv")

data.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,#1 Crypto Currency TRADING,NaN,"Profit thought trading, Learn , Trade & Earnüí≤....",2021-11-10 10:42:01+00:00,4,0,0,False,2021-11-15 07:26:39+00:00,Get upto 1000 that‚Äôs 10x with our premium spot...,NaN,Twitter for Android,False
1,Reyrey,Kuala Lumpur,Artist | NFT Broker & Collector for AnideaNFT ...,2011-03-07 07:22:57+00:00,343,650,589,False,2021-11-15 07:26:35+00:00,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©...","['SupportingCreators', 'CryptoArt', 'CryptoArt...",Twitter for iPhone,False
2,akter jahan,NaN,NaN,2021-10-28 13:28:05+00:00,1,2,0,False,2021-11-15 07:26:32+00:00,Top 10 Coins by Social Engagement over the las...,"['LunarCrush', 'bitcoin', 'dogecoin']",Twitter Web App,False
3,riyan,NaN,i always paricipated your project,2021-09-16 16:59:11+00:00,11,127,99,False,2021-11-15 07:26:30+00:00,Requesting faucet funds into 0x5278942b39deD8c...,"['Rinkeby', 'Ethereum']",Twitter Web App,False
4,Michelle Eriksen,NaN,"Art Creator, NFT, Crypto",2021-08-11 06:40:08+00:00,522,1428,16,False,2021-11-15 07:26:30+00:00,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...,"['NFTs', 'nftcollector', 'NFTCommunity', 'art'...",Twitter Web App,False

In [43]:
data = data[["user_name","text"]]
data.head()

,user_name,text
0,#1 Crypto Currency TRADING,Get upto 1000 that‚Äôs 10x with our premium spot...
1,Reyrey,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©..."
2,akter jahan,Top 10 Coins by Social Engagement over the las...
3,riyan,Requesting faucet funds into 0x5278942b39deD8c...
4,Michelle Eriksen,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...

In [44]:
import re
from gensim.parsing.preprocessing import remove_stopwords
import string
import unicodedata

def lower_case(text):
    return text.lower()

def remove_punctuation(text):
    text_list = [char for char in text if char not in string.punctuation]
    clean_text = "".join(text_list)
    return clean_text

def remove_numbers(text):
    text_list = []
    for i in text:
        if not re.search("\d", i):
            text_list.append(i)
    return "".join(text_list)

def remove_special_char(text):
    pat =  r'[^a-zA-z0-9]' 
    return re.sub(pat, " ", text)

def remove_square_bracket(text):
    clean_text = re.sub(r'\[[0-9]*\]', ' ', text)
    return clean_text

def remove_white_spaces_char(text):
    clean_text = re.sub(r'\s+', ' ', text)
    
    return clean_text

def remove_unicode_char(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text


def remove_user(text):
    clean_text = re.sub('(@[A-Za-z]+[A-Za-z0-9-_]+)', '', text)
    
    return clean_text

def remove_links(text):
    clean_text = re.sub(r'http\S+', '', text)
    clean_text = re.sub(r'bit.ly/\S+', '', text)
    clean_text = clean_text.strip('[link]')
    
    return clean_text

def remove_html(text):
    html = re.compile('<.*?>')
    
    return html.sub(r'',text)

def remove_email(text):
    email = re.compile(r'[\w\.-]+@[\w\.-]+')
    return email.sub(r'',text)

def remove_stopwords_from_text(text):
    
    clean_text = remove_stopwords(text)
    
    return clean_text

In [45]:
data["clean_text"] = data["text"].apply(lower_case)
data["clean_text"] = data["clean_text"].apply(remove_punctuation)
data["clean_text"] = data["clean_text"].apply(remove_numbers)
data["clean_text"] = data["clean_text"].apply(remove_special_char)
data["clean_text"] = data["clean_text"].apply(remove_square_bracket)
data["clean_text"] = data["clean_text"].apply(remove_white_spaces_char)
data["clean_text"] = data["clean_text"].apply(remove_unicode_char)
data["clean_text"] = data["clean_text"].apply(remove_user)
data["clean_text"] = data["clean_text"].apply(remove_links)
data["clean_text"] = data["clean_text"].apply(remove_html)
data["clean_text"] = data["clean_text"].apply(remove_email)
data["clean_text"] = data["clean_text"].apply(remove_stopwords_from_text)

In [46]:
data = data.drop(data[["user_name"]], axis = 1)
data.head()

,text,clean_text
0,Get upto 1000 that‚Äôs 10x with our premium spot...,upto s x premium spot trading signals accurate...
1,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©...",adopted hypocat crazy rich cat hypocatclub meo...
2,Top 10 Coins by Social Engagement over the las...,coins social engagement hrs lunarcrush btc bit...
3,Requesting faucet funds into 0x5278942b39deD8c...,requesting faucet funds xbdedcbdadeaecefdca ri...
4,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...,ew listing bts eth nfts nftcollector nftcommun...

In [47]:
from textblob import TextBlob

def finding_polarity(text):
    clean_text = TextBlob(str(text))
    pol = clean_text.sentiment.polarity
    if(pol==0):
        return "Neutral"
    elif(pol>0 and pol<=0.3):
        return "Weakly Positive"
    elif(pol>0.3 and pol<=0.6):
        return "Positive"
    elif(pol>0.6 and pol<=1):
        return "Strongly Positive"
    elif(pol>-0.3 and pol<=0):
        return "Weakly Negative"
    elif(pol>-0.6 and pol<=-0.3):
        return "Negative"
    elif(pol>-1 and pol<=-0.6):
        return "Strongly Negative"

In [48]:
data["polarity"] = data["clean_text"].apply(finding_polarity)

In [49]:
data.head()

,text,clean_text,polarity
0,Get upto 1000 that‚Äôs 10x with our premium spot...,upto s x premium spot trading signals accurate...,Weakly Positive
1,"Adopted a Hypocat #053, ‚ÄúCrazy Rich Cat‚Äù ü§ëüíµüíµüíµü§©...",adopted hypocat crazy rich cat hypocatclub meo...,Weakly Negative
2,Top 10 Coins by Social Engagement over the las...,coins social engagement hrs lunarcrush btc bit...,Weakly Positive
3,Requesting faucet funds into 0x5278942b39deD8c...,requesting faucet funds xbdedcbdadeaecefdca ri...,Neutral
4,New Listing BTS 0.008ETH !! \n#NFTs #nftcolle...,ew listing bts eth nfts nftcollector nftcommun...,Neutral

In [50]:
from textblob import TextBlob

def positive_negative(text):
  clean_text = TextBlob(str(text))
  pol = clean_text.sentiment.polarity

  if(pol==0):
    return 1
  elif(pol>0 and pol<=0.3):
    return 1
  elif(pol>0.3 and pol<=0.6):
    return 1
  elif(pol>0.6 and pol<=1):
    return 1
  elif(pol>-0.3 and pol<=0):
    return 0
  elif(pol>-0.6 and pol<=-0.3):
    return 0
  elif(pol>-1 and pol<=-0.6):
    return 0

In [51]:
data["label"] = data["clean_text"].apply(positive_negative)

In [53]:
data["label"].value_counts()

1.0    8282
0.0    1640
Name: label, dtype: int64

In [55]:
num_words = sum([len(word.split()) for word in data["clean_text"]])
num_words

176391

In [58]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features= 3500)

x = vectorizer.fit_transform(data["clean_text"]).toarray()

y = data["label"].values.astype("int")

x.shape, y.shape

((10000, 3500), (10000,))

In [69]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.25, random_state= 42)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((7500, 3500), (2500, 3500), (7500,), (2500,))

In [70]:
from sklearn.naive_bayes import GaussianNB

nav_model = GaussianNB()

nav_model.fit(x_train,y_train)

print(f"Training Accuracy : {nav_model.score(x_train,y_train) * 100 : 0.2f} %")
print(f"Test Accuracy : {nav_model.score(x_test,y_test)* 100 : 0.2f} %")

Training Accuracy :  85.25 %
Test Accuracy :  80.68 %

In [71]:
from sklearn.svm import SVC

svc_model = SVC()

svc_model.fit(x_test,y_test)

print(f"Training Accuracy: {svc_model.score(x_train, y_train)*100 : 0.2f} %")
print(f"Test Accuracy: {svc_model.score(x_test,y_test) * 100 : 0.2f} %")

Training Accuracy:  94.33 %
Test Accuracy:  97.16 %

In [73]:
x_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [39]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [8]:
model = DecisionTreeClassifier()
model.fit(z_train, y_train)
predictions = model.predict(z_test)
predictions

array(['Classical', 'Classical'], dtype=object)

In [5]:
score = accuracy_score(y_test, predictions)
score

1.0